In [1]:
import requests
import json
from pyyoutube import Api
import pandas as pd
import time

In [2]:

key = "AIzaSyDgyVAAExAxJ5gmh9pG_XjvCTnd2H3t5aY"
api = Api(api_key=key)

In [3]:

query = "'Avatar 2'"
video = api.search_by_keywords(q=query, search_type=["video"], count=15, limit=30)

In [4]:


maxResults = 200
nextPageToken = ""
s = 0
 
for id_ in [x.id.videoId for x in video.items]:
    uri = "https://www.googleapis.com/youtube/v3/commentThreads?" + \
            "key={}&textFormat=plainText&" + \
            "part=snippet&" + \
            "videoId={}&" + \
            "maxResults={}&" + \
            "pageToken={}"
    uri = uri.format(key, id_, maxResults, nextPageToken)
    content = requests.get(uri).text
    data = json.loads(content)
    for item in data['items']:
        s += int(item['snippet']['topLevelComment']['snippet']['likeCount'])
    
with open('data.csv', 'a') as f:
    f.write("{}\n".format(s))

In [5]:
data = pd.read_csv('data.csv')
data

     3126
0    3129
1    3130
2    3130
3    3131
4    3136
5   11293
6   11320
7   11358
8   11358
9   11360
10  11362
11   3699
12   3408
13   3423
14   4821

In [6]:
url_1 = '/home/mlflow/project/datasets/data.csv'
url_local = 'data.csv'